[2017-07-28 13:00] lewisbarber opened #1 "Add documentation?"
How do I use this?

[2017-08-28 23:42] thomasmaclean commented on #1
I've read through the source and I'm still not 100% clear on the use case. Anything in the way of a quick pointer or two would help!

[2017-11-14 03:00] gnidan opened #5 "Write test harness for integration tests"

[2017-11-14 03:29] gnidan opened #6 "Implement project as library, independent of Truffle project structure"

[2017-11-14 03:42] gnidan opened #7 "Implement data mapping between EVM and Solidity"

[2017-11-15 10:30] onbjerg opened #8 "Display gas, stack and memory"
When you debug a transaction right now, it is super hard to figure out if your call is failing because of the gas provided in the call. Displaying the amount of gas each step would help.

It would also be cool to display the stack and memory at each step for more advanced use cases.

All of these are available in transaction traces as well:

https://github.com/trufflesuite/ganache-core/blob/088d04

[2018-01-04 18:18] gnidan opened #9 "Design/document library's Javascript API"
Separate from implementation (#6), the external interface for debugger usage should be well-understood and documented.

[2018-01-04 18:18] gnidan opened #10 "Enable Solidity breakpoints"

[2018-01-04 18:18] gnidan opened #11 "Implement stack variable inspection"

[2018-01-04 18:18] gnidan opened #12 "Implement memory variable inspection"

[2018-01-04 18:18] gnidan opened #13 "Implement storage variable inspection"

[2018-01-04 18:21] gnidan opened #14 "Support executing new Solidity contexts from a breakpoint"

[2018-01-04 18:21] gnidan opened #15 "Build VSCode integration for library"

[2018-01-04 18:26] gnidan opened #16 "Allow debugging calls (not just transactions)"

[2018-01-04 18:32] gnidan opened #17 "Refactor truffle-core's debugger integration for library changes"

[2018-01-23 21:49] gnidan opened #19 "Finalize build environment / CI integration setup"

[2018-01-25 04:09] gnidan commented on #19
This is waiting on some core logic being moved out of `truffle-core` and into libraries, in order to address a circular dependency issue (described [here](https://github.com/trufflesuite/truffle-debugger/pull/18#discussion_r163402362))

[2018-01-26 03:33] gnidan commented on #19
This is now waiting on CI changes to run webpack automatically: https://github.com/trufflesuite/ci/issues/7

[2018-02-21 22:41] gnidan opened #20 "CLI interface for reading variables"
So that the command line debugger provides access to that data

[2018-02-22 18:01] gnidan opened #21 "When stepping next, stop execution at last opcode of logical segment"
i.e., if there are a bunch of opcodes [ _op_<sub>1</sub>, ..., _op_<sub>n</sub>, ...  ] referring to the same source range, then `stepNext()` should automatically trace so that the next opcode is _op_<sub>n</n>

(This is the trace step for the expression/statement where the variables are set up correctly for inspection)

[2018-02-22 21:37] gnidan opened #22 "Truffle Debug Provider?"
To intercept transactions (and maybe calls too???) and instantiate a truffle-debugger library instance

🍌🍌🍌🍌🍌🍌🍌🍌

[2018-02-24 01:31] gnidan opened #23 "Create README with library instructions"

[2018-02-24 18:03] gnidan opened #24 "Track function call stack frames (to allow recursion)"

[2018-02-24 18:04] gnidan opened #25 "Fix error reporting when tx can't be found"

[2018-02-26 22:35] gnidan opened #26 "Remove "beta" notice about debugger"

[2018-02-27 21:19] #26 closed

[2018-02-27 21:19] #20 closed

[2018-02-27 21:20] #17 closed

[2018-02-27 21:20] #12 closed

[2018-02-27 21:20] #13 closed

[2018-02-27 21:20] #11 closed

[2018-02-27 21:20] #10 closed

[2018-02-27 21:20] #7 closed

[2018-02-27 21:20] #6 closed

[2018-02-27 21:29] #25 closed

[2018-02-28 03:17] rstormsf opened #28 "Add parity support"
https://github.com/trufflesuite/truffle-debugger/blob/feaebc3be9b8589be07544d176051fd8a375cedd/lib/web3/adapter.js#L16

Right now the debugger assumes that the user is using geth node.
Parity doesn't have `debug_traceTransaction` method

[2018-02-28 03:53] rstormsf opened #29 "How to show mappings, `msg.sender`, etc"
I'd like to see in debug mode values of mappings, native vars(msg.sender) and call `view/constant` functions
How do I do it?

[2018-02-28 16:07] gnidan commented on #28
It looks like Parity provides other, similar methods. For anyone interested, it should be fairly straightforward to add support [here](https://github.com/trufflesuite/truffle-debugger/blob/develop/lib/web3/adapter.js)

[2018-02-28 16:16] gnidan commented on #29
Hi @rstormsf, thanks for finding all the things we don't support yet :)

Adding support for native variables in the coming weeks, that should be pretty straightforward.

Re: `view` functions, I assume you're asking to [execute arbitrary Solidity](https://github.com/trufflesuite/truffle-debugger/issues/14)? This is non-trivial, although we have some ideas on how to implement and hope to add soon.

[2018-02-28 17:15] gnidan opened #30 "Support `mapping` data types"

[2018-02-28 17:15] gnidan opened #31 "Support arrays of structs"

[2018-02-28 17:16] gnidan opened #32 "Add support for globally available variables"
Like `msg.sender`, etc.

Defined in: https://solidity.readthedocs.io/en/develop/units-and-global-variables.html#units-and-globally-available-variables

[2018-02-28 17:16] gnidan commented on #29
Closing this ticket in favor of #32 #30, etc.

[2018-02-28 17:16] #29 closed

[2018-03-01 20:40] bitdom0 opened #35 "Getting Error: The method debug_traceTransaction does not exist/is not available, on OSX"
OS: OSX High Sierra
Truffle v4.1.0 (core: 4.1.0)
Solidity v0.4.19 (solc-js)
Network: Rinkeby Testnet

running command in truffle console: debug 0x.......

Full Error:

Error: The method debug_traceTransaction does not exist/is not available
    at /usr/local/lib/node_modules/truffle/build/webpack:/~/truffle-debugger/dist/debugger.js:5768:1
    at /usr/local/lib/node_modules/truffle/build/webpack:/

[2018-03-01 21:40] gnidan commented on #35
Are you using INFURA?

[2018-03-01 21:51] bitdom0 commented on #35
I do not think so. I am using geth to deploy on rinkeby testnet.

[2018-03-01 22:39] gnidan commented on #35
Could you paste your truffle config file as well as the options you use to start geth? It should work; they're the ones who spec'd out that `debug_traceTransaction` method

[2018-03-02 01:28] bitdom0 commented on #35
truffle config:

module.exports = {
  solc: {
  optimizer: {
    enabled: true,
    runs: 200
    }
  },
  networks: {
    rinkeby: {
       host: "localhost",
       port: 8545,
       network_id: "4",
       from: "0x......", //account from which to deploy
       gas: 6712390
      }
  }
};

geth command inside folder with rinkeby chaindata:

geth --datadir=./chaindata/ --rpc --rpcport 8545 --rp

[2018-03-02 01:38] gnidan commented on #35
Ah @bitdom0 you need to pass `debug` in your list to `--rpcapi`

[2018-03-02 01:58] bitdom0 commented on #35
That seems to have did it. Thank you!

[2018-03-02 02:15] #35 closed

[2018-03-06 08:48] slepher opened #37 "could not debug contract created by contract"
project: https://github.com/slepher/truffle_test

truffle version: v4.1.0

reproduce:
`truffle develop`
`migrate`
`StorageManager.deployed().then((instance) => {return instance.createStorage()});`
`debug <txid>`

[2018-03-06 17:54] gnidan commented on #37
Ah, thanks for identifying this missing use case. Will hopefully have this fixed soon!

[2018-03-06 18:04] #23 closed

[2018-03-06 18:04] #9 closed

[2018-03-06 18:04] gnidan commented on #1
This is now documented with basic usage in the README, and API documentation available at http://truffleframework.com/truffle-debugger

[2018-03-06 18:04] #1 closed

[2018-03-06 18:06] gnidan opened #38 "Add missing AST traversals"
Currently, only contracts interacted with via address have their ASTs traversed. This is because I noticed performance problems without the filter. (See code [here](https://github.com/trufflesuite/truffle-debugger/blob/develop/lib/session/sagas/index.js#L107))

This filter should be removed, and subsequent performance hit should be mitigated somehow.

[2018-03-06 18:15] gnidan opened #39 "Support libraries and inherited contracts"

[2018-03-06 19:41] gnidan opened #41 "Clean up inter-module dependencies"
Currently, the various top-level "app" modules (`session` / `trace` / `ast` / etc.) are tightly coupled.

These modules typically define actions, sagas, reducers, and selectors, but it is not clearly defined which of these are available extra-module.

For instance, sagas from one app will import the actions from another - lots of things require lib/trace/actions' `TICK`, among others.

To improve

[2018-03-07 22:52] gnidan commented on #41
Some research on this:

I aggregated a count of dependencies between the common `sagas`/`selectors`/`reducers`/`actions` modules, to see how the various app-modules depend on others.

Without session:
[code]
With session:
[code]

Representing # of times app modules for the row type depend on app modules for the column type, e.g. there are 9 instances where a selectors module depends on a selectors

[2018-03-08 15:25] gnidan commented on #37
This might be fixed in Truffle v4.1.3. Please try again and let me know!

[2018-03-08 16:34] slepher commented on #37
it works,
but fails on other testcase

project updated: https://github.com/slepher/truffle_test

truffle version: v4.1.3

reproduce:
truffle develop
migrate
StorageManager.deployed().then((instance) => {return instance.createAnotherStorage(10)});
debug <txid>

[2018-03-09 22:43] #41 closed

[2018-03-09 22:43] gnidan commented on #38
Fixed by #40

[2018-03-09 22:43] #38 closed

[2018-03-10 00:16] gnidan commented on #37
Thanks for the convenient reproduction steps @slepher!

[2018-03-12 06:45] dmdque opened #44 "Documentation for source code setup"
Warning: The source code for one or more contracts could not be found.

[2018-03-12 09:29] gnidan commented on #44
Debugging tests is not currently supported due to a technical limitation. This is likely the reason for that error.

[2018-03-12 18:33] dmdque commented on #44
What about debugging transactions from a testnet or mainnet with source code? I believe I saw a mention of it somewhere.

I don't know what the technical limitation is, so excuse the potentially naive question.

[2018-03-14 00:46] gnidan commented on #44
Sorry, did not have bandwidth for a more detailed response.

There are two main reasons behind why debugging tests is currently not supported:
1. Truffle reverts Ganache after each test suite, so your transactions disappear (using the snapshot/revert feature) - this is not the issue you're facing, however.
2. Truffle uses a temp. directory for your contracts for testing. This uses a separate truff

[2018-03-14 00:53] dmdque commented on #44
Of course

[2018-03-19 20:28] riordant commented on #31
Whats the status on this? thanks

[2018-03-19 21:40] gnidan commented on #31
@riordant - Thanks for reaching out! This ticket and #30 (`mapping` support) will probably wait until I've gotten the chance to work on #39 (support for libraries and inheritance) and #44 (supporting `truffle test`). I'd like to get those working properly before getting back to adding these missing data types.

That being said, feel free to open a PR for this!

[2018-03-19 23:20] riordant commented on #31
Awesome, thank you for your quick response :)

[2018-03-20 23:02] fredfortier opened #46 "Watch Expressions Always 'undefined'"
I'm debugging from `truffle develop` with Truffle v4.1.3.

I ran a unit test which completed successfully. From the result, I can confirm that the business logic ran correctly. I'm trying to debug to look at the value of variables during execution. I'm using the `+:var` command to watch specific variables.

While I can step through my code, it just seems to execute linearly line-by-line. The varia

[2018-03-21 18:12] gnidan commented on #46
Are all variables undefined? If you type `v`, what do you see?

[2018-03-26 13:58] slepher commented on #37
how to use truffle-debugger's newest version which fixed this bug.

[2018-03-29 05:08] gnidan commented on #37
@slepher upgrade to Truffle v4.1.3, although I'm not sure that'll fix the problem completely. Should have a release with more fixes in the next few days.

[2018-03-29 10:06] boorac commented on #39
Any kind of ETA on this? =)

[2018-03-29 18:47] gnidan commented on #39
@boorac this will go out with the next release

[2018-03-29 19:29] seesemichaelj commented on #39
@gnidan ETA on the next release? :D

[2018-03-29 23:24] gnidan commented on #46
@fredfortier can you try upgrading to Truffle v4.1.4 and see if this problem still persists?

[2018-03-30 15:27] qbit86 commented on #37
Have the same issue:
[code]
Ganache 1.1.0
[code]

Is there any workaround?

[2018-03-30 15:32] gnidan commented on #37
Oh I just noticed that bug also. I think it has to do with the change in solc version; try running your migrations and transaction again with this version.

[2018-03-30 15:45] qbit86 commented on #37
With which version?

I remove `build/contracts/`, restart Ganache GUI, execute `truffle migrate` (it recompiles all with latest version of `solc-js`). Then do some actions with deployed contract in my web-interface (some successful, some not), receive `txHash` and pass it to `truffle debug`. Same result: “TypeError: Cannot read property 'binary' of undefined”.

[2018-03-30 16:02] gnidan commented on #37
(with Truffle v4.1.5)

Rats, that's annoying. Any chance your code is public so I could reproduce?

[2018-03-30 16:23] gnidan opened #51 "Unhandled exception when defining multiple contracts per file"
Raised in #37 by @qbit86

[code]

[code]

Additional info:

[2018-03-31 11:03] qbit86 commented on #37
It's not public (hosted in closed Git-repo on Bitbucket), but I guess I could share repro privately. Probably, after weekends.

[2018-04-02 15:32] qbit86 commented on #37
I temporarily uploaded archive here: <https://mega.nz/#!B1AxWTJZ!FdCEZPlDMgWJ62CEbM5K2lzY-f2zaQD-0tTKnUUdrJY>

1. In folder `bps-smart-contracts/` execute `npm install`
2. In file `.env` specify the same test mnemonic as you use in Ganache GUI, for example:
[code]

To receive undebuggable transaction I execute `WombatErc721Token.testCatchWombat(...)` (successfully), then `Erc721Auction.startAuctio

[2018-04-02 17:37] gnidan commented on #37
@qbit86 I downloaded the repo if you want to remove it for privacy reasons. I'll get to reproducing this later tonight or tomorrow. Thanks!

[2018-04-03 17:55] gnidan commented on #37
@qbit86 I'm not able to reproduce the error you reported. I found a couple other uncaught exceptions, however, so I'm going to make those fail more gracefully. Not sure the root of it, will have to look more thoroughly. If you have any additional information, that would be most helpful! Thanks!

[2018-04-05 23:12] sebamatusr commented on #37
I am having the exact same issue with the same solc and truffle version. Did you find a workaround for this?

[2018-04-05 23:28] gnidan commented on #37
So I found this problem and it's hairy. I don't know a workaround right now. I'll reopen this issue until I can get back to it and do some issue maintenance (since the problem here isn't OP)

[2018-04-06 03:51] yinhaoscu opened #52 "truffle debug failed"
Truffle version 4.1.4
I follow the tutorial debugging-a-smart-contract. In truffle(develop)> debug Transaction ID, I got the followings,
Compiling .\contracts\Migrations.sol...
Compiling .\contracts\Store.sol...

Gathering transaction data...

redux-saga error: uncaught at session.saga
at session.saga
 TypeError: Cannot read property 'binary' of undefined

How to fix it. Thanks.

[2018-04-06 16:42] gnidan commented on #52
This is a known issue. Closing this as duplicate of #51

Thanks!

[2018-04-06 16:42] #52 closed

[2018-04-06 16:42] gnidan commented on #46
Assuming this issue has been resolved. Closing for issue maintenance. Let me know if you run into further problems and I'll reopen. Thanks!

[2018-04-06 16:42] #46 closed

[2018-04-06 17:12] gnidan commented on #37
Actually re-closing. Issue #51 has been created for this issue specifically. Please comment there for issues related to this missing `binary`. Thanks!

[2018-04-06 17:12] #37 closed

[2018-04-08 09:07] chupd commented on #39
Hi. guy~

v4.1.5 still have that issue. ( https://github.com/trufflesuite/truffle/issues/655#event-1547103790)

[2018-04-09 16:56] gnidan commented on #19
Done

[2018-04-09 16:56] #19 closed

[2018-04-10 20:48] panpan2 opened #56 "UnhandledPromiseRejectionWarning error"
I've asked for help in the [Truffle Gitter](https://gitter.im/ConsenSys/truffle) before filing this issue and was advised to open it.

# Explanation of the issue
I have the following simple contract
[code]

On the truffle console I issue the following
[code]
which returns a transaction, lets say 0x677307a280f709bbf47ab82004287586e3b5efe79430ef14f0de776355de5b7b

I then proceed with doing
[code]
wh

[2018-04-10 21:00] seesemichaelj commented on #56
What a phenomenal issue write up! Internet kudos!

[2018-04-11 00:00] gnidan commented on #56
Alright, that should go away with the next release. Thanks for raising this issue!

[2018-04-11 08:49] briansoule commented on #51
Started receiving this after updating to 4.1.5; per: https://github.com/trufflesuite/truffle/issues/655#event-1547103790

[2018-04-11 15:24] harksha commented on #51
got the same with truffle 4.1.4 & solidity 0.4.17

[2018-04-13 05:15] gnidan commented on #51
Figured it out.

Background: Library support (#39) introduced the constructor's `files` option to allow the debugger to perform file-index based source lookup (see [Solidity source map docs](https://solidity.readthedocs.io/en/v0.4.21/miscellaneous.html#source-mappings)).

As a result of a [~~naïve implementation~~](https://github.com/trufflesuite/truffle-debugger/blob/develop/lib/debugger.js#L52)

[2018-04-13 10:41] Devqon commented on #51
https://github.com/trufflesuite/truffle/issues/882 seems to be the same issue

[2018-04-13 15:32] gnidan commented on #51
@Devqon does that happen if you delete your `build/contracts/` directory? I will try to reproduce also with that example.

[2018-04-14 13:46] chapati23 commented on #51
also running into this with a vanilla `truffle init` project (v4.1.5).

command I ran: `truffle debug 0x3bfe4c18a37afa735bf0bcf04f8fe9fe0dfa42b37eb89bf6f0fe95213c74d9ba --network=mainnet`

only thing i changed was the truffle config:

[code]

[2018-04-15 13:34] aligokalppeker commented on #51
As a critical issue, when this bug is targeted for release ?

[2018-04-16 08:38] Devqon commented on #51
@gnidan

Yes also after deleting the build directory

[2018-04-16 14:40] gnidan commented on #51
@Devqon what version of Truffle are you testing with?

[2018-04-16 14:53] Devqon commented on #51
@gnidan truffle v4.1.5, solidity v0.4.21

[2018-04-16 15:10] gnidan commented on #51
@Devqon just tested again against v4.1.5 and I still can't reproduce. From your screenshot it doesn't look like I'm missing anything. Here's what I'm doing:

- Add your SimpleStorage with the infinite loop, and add migration to deploy that contract
- In `truffle console`, run `SimpleStorage.deployed().then(function(instance) { instance.set(5) })`
- Grab the tx hash from Ganache
- `truffle debug <t

[2018-04-16 17:58] gnidan commented on #51
Just released v4.1.6 which should cover the multiple contracts case. Not sure if it addresses all instances of that unhandled exception.

I'd like to close this issue; could you all try out the new release and let me know if the issue is fixed for you? Thanks!

[2018-04-21 12:40] makoto opened #64 "TypeError: Cannot read property 'contractName' of undefined"
Hi, I just installed the latest ganache/truffle and try to debug transactions against metacoin but failing with the error.

### Environment

- OSX 10.13.3
- node 8.9.4
- npm 5.6.0
- Ganache CLI v6.1.0 (ganache-core: 2.1.0)
- Truffle v4.1.7

### Ganache logs

[code]

### Truffle logs

[code]

[2018-04-21 13:40] gnidan commented on #64
Thanks for the great reproduction steps!

Right now we don't support debugging tests for technical reasons. (See #44)

I'll look into this on Monday and see about improving the error message at least.

[2018-04-22 09:03] makoto commented on #64
Ah, I wasn't aware of that. I remember that debugging on test was working at some point in the past. This explains why I can debug transactions on migration contract.

Thanks.

[2018-04-22 17:46] makoto commented on #64
Ummm, am I misunderstanding something?

I ran the migration and send a transaction from truffle console directly and try to debug an transaction but still getting the same error.
Does debug not work against Ganache at all?

[code]

[2018-04-24 15:27] gnidan commented on #64
@makoto this fix should be good to go in the next release.

In the meantime, I've just published a nightly release with this change. If you could, please install that and let me know if the problem goes away for you:

[code]

Thanks!

[2018-04-24 16:48] gnidan commented on #51
Assuming this is fixed, closing for issue maintenance. Let me know if that's not true! Thanks!

[2018-04-25 23:03] makoto commented on #64
Looks working! Great job 👍
The fact that I can see variables are life saver. Can't wait to be able to do this against tests, too.

[code]

[2018-04-26 01:10] gnidan commented on #64
Glad to hear that @makoto!

[2018-04-26 09:52] makoto commented on #64
Hi, @gnidan .

To work around the issue of not being able to debug the test, I am currently trying to deploy [test contract](https://github.com/ensdomains/dnssec-oracle/blob/master/test/TestRRUtils.sol) and try to invoke manually but failing because migration script is not aware of where `truffle/Assert.sol` exists (I
 also moved from `test` directory as migration seem to only compile things on `c

[2018-04-26 16:58] bmmpxf opened #66 "Underflow issues yield unexpected output"
In a Solidity file that populates an array with values some of which are negative:

0, 1, 1, 0, -1, -1 ...

When the array is of type `uint[]`, there is an underflow error, but weirder, the array seems to add more elements (twice as many) which might be the debugger misreading the output.

When the array is of type `uint8[]` there is still an underflow error, but no extra elements are shown by the

[2018-05-03 15:07] gnidan commented on #21
Closing, won't fix. (#62 sort of addresses this problem)

[2018-05-03 15:07] #21 closed

[2018-05-03 15:57] gnidan commented on #66
Just deployed the fix for this on `darq-truffle@4.1.7-latest.3`, @bmmpxf could you try it out and verify?

Thanks!

[2018-05-03 17:47] gnidan commented on #64
@makoto now you know why it's challenging to get test support :)

That `Assert.sol` is in truffle-core: https://github.com/trufflesuite/truffle-core/blob/develop/lib/testing/Assert.sol

[2018-05-03 19:25] bmmpxf commented on #66
Just tried it. Some progress, but not much. Given an expected:

```[1, 1, 0, 255, 255, 0, 1, 1, 0, 255]```

The output I got was:

[code]

With `!evm.next.state.storage` reporting:

[code]

So still extra terms, and I have no idea where that `2` is coming from.

[2018-05-03 19:57] gnidan commented on #66
Oh that's weird @bmmpxf

The `2` is definitely there in storage:
[code]

[2018-05-03 20:00] bmmpxf commented on #66
I saw that too, but I couldn't figure out where in the calculations it was coming from. Maybe it had to do with the `0 - 255` in there...

[2018-05-04 04:59] gnidan commented on #64
Closing this, released in v4.1.8. Thanks for raising this!

[2018-05-04 06:32] ghost opened #69 "truffle debug #{txhash} fails with 'TypeError: Cannot read property 'contractName' of undefined'"
$ truffle version
Truffle v4.1.7 (core: 4.1.7)
Solidity v0.4.23 (solc-js)

Ganache: 1.10

How to reproduce:
1) $ truffle unbox metacoin
2) $ truffle compile
3) set ganache network in truffle.js
4) $ truffle migrate
5) $ truffle test
6) truffle debug 0x85b89c72b93fb17bd48d8bfe19c1282475eb5a6b0480188861375215d0a18a72
txhash is the last tx from `truffle test` step

Result:

[code]

[2018-05-04 14:20] gnidan commented on #69
This should be fixed in v4.1.8. Try it out and let me know! Thanks!

[2018-05-04 16:47] gnidan commented on #66
@bmmpxf can you paste the erroneous Fibonacci.sol source here so I can play around with it?

[2018-05-04 17:27] bmmpxf commented on #66
Erroneous Fibonacci below! It's just the regular Fibonacci but with subtraction instead of addition.

[code]

[2018-05-04 19:28] gnidan commented on #66
Weird @bmmpxf I can't seem to reproduce this. I suspect that is happening because of outdated contract state? I'd say try again with `migrate --reset`

[2018-05-04 19:34] bmmpxf commented on #66
Problem located! It had to do with re-running the contract, with interacts with the already-stored array in unexpected ways.

But the original issue has been resolved. Just tested with 4.1.8. Thanks!

[2018-05-04 19:34] #66 closed

[2018-05-04 19:40] bmmpxf opened #70 "Add a way to view variable end-states in transactions"
When a transaction operates on a variable, and you view the transaction in the debugger, you have to step next or step over for sometimes quite a long time. It would be great if there were a "jump to the end" option so that one could see the end-states of the variables.

[2018-05-05 18:05] andr11111 commented on #64
I still have this problem with v4.1.8.

[code]

[2018-05-05 18:50] gnidan commented on #64
@andrei-anisimov Try doing `truffle migrate --reset --compile-all`. Your contracts may have been compiled with two different solc versions. Let me know if that doesn't fix it!

[2018-05-07 08:58] makoto opened #72 "Invocation example steps potentially out of date?"
Hi, I tried to follow [Invocation](https://github.com/trufflesuite/truffle-debugger#invocation) example

[code]

But getting the `TypeError: Debugger.forTx(...).connect is not a function` error.

[code]

By looking at some of [the tests](https://github.com/trufflesuite/truffle-debugger/blob/develop/test/evm.js#L105), it has different input arguments

[code]

I wasn't quite sure who I can set `file

[2018-05-07 13:31] vardhmanandroid2015 commented on #39
I am facing the same issue -
Truffle version - 4.1.6 Solidity compiler (solcjs - 0.4.21)

debug(develop:0xac56e902...)>
redux-saga error: uncaught at session.saga
at session.saga
 at controller.saga
 at stepNext
 TypeError: Cannot read property 'line' of undefined
    at D:\YoutubeVideos\01-Truffle\node_modules\truffle\build\webpack:\~\truffle-core\~\truffle-debugger\dist\debugger.js:610:1
    at

[2018-05-07 15:15] gnidan commented on #39
@vardhmanandroid2015 that's likely a different error, but try upgrading to Truffle v4.1.8. It should be fixed there.

[2018-05-07 15:19] gnidan commented on #72
Good catch @makoto!

`files` comes from `truffle-compile`, when you do `compile(..., callback)`, callback is called with `callback(contracts, files)`.

But that's not the issue you're having with that exception - `Debugger.forTx()` returns a promise, so you'll have to do `Debugger.forTx(...).then(function(bugger) { return bugger.connect(); })`. The `files` argument is optional and the debugger att

[2018-05-07 20:13] makoto commented on #72
Ummm, not working

[code]

Having said that. Now even `debug trxHash` stopped working so may be related to something else.

[code]

[2018-05-07 21:00] gnidan commented on #72
Truffle's console doesn't yet support the `await` syntax, unfortunately. But! You don't need it for that method; just do `session.connect()`. Check out the public methods in the [Debugger API Docs](http://truffleframework.com/truffle-debugger/class/lib/debugger.js~Debugger.html#static-method-forTx), that should help. Take note which methods are labeled `async`, so you know which ones return Promis

[2018-05-08 10:41] vardhmanandroid2015 commented on #39
Updated to truffle v4.1.8 Now getting into new error - I have tried to unbox webpack in another project at the same location where my previous project was....Please let me know If requires any additional information to provide any pointer...

Gathering transaction data...

redux-saga error: uncaught at session.saga
at session.saga
 at recordInstance
 TypeError: Cannot read property 'context' of nu

[2018-05-08 11:11] vardhmanandroid2015 commented on #39
I created all together new project in different location with new installation for truffle 4.1.18 & seems to be working as expected....
Is it recommended that we should not be creating multiple decentralized application project at same location hitting to same installation of truffle.......I think so as cleaned up did the magic....

[2018-05-08 15:44] gnidan commented on #39
@vardhmanandroid2015 the problem is that `truffle debug` re-runs compilation every time, so if you previously compiled your contracts with an earlier version of Solidity, it fails to match the two different versions of bytecode. You can do what you want, just make sure to run `truffle migrate --reset --compile-all`

[2018-05-08 23:45] makoto commented on #72
Ok, it's working...ish

[code]
`stepInfo` may be typo to `stepInto`.

[code]

And I cannot reproduce step 4 either

[code]

About `debug trx.tx`, you were right. When I copy&paste transaction hash directly then it's working.

[2018-05-09 00:30] gnidan commented on #72
@makoto ok, I just fixed the README a bit.

Couple notes:
- Instead of Step 3, try doing just one single `session.stepNext()`
- If any `session.step*` operation returns `false`, it means the debugger has finished stepping, and you likely can't view anything
- Try doing `session.view(solidity.current.source)` right before Step 3, just to make sure the debugger knows what file you're in.

Thanks for

[2018-05-09 07:20] makoto commented on #72
`session.view(solidity.current.source)` returned empty hash `{}`

[code]

Well, debugging in solidity is such a painful process at this moment so I will be patiently trying out anything which may potentially improve the process. `truffle-debugger` has such a great potential so keen to pork around the gut of it.

[2018-05-09 11:52] olibchr commented on #51
I still have that issue.
`Gathering transaction data...

redux-saga error: uncaught at session.saga
at session.saga
 TypeError: Cannot read property 'sourcePath' of undefined`

Truffle v4.1.8
Solidity v0.4.21
npm 5.6.0
node v9.11.1
Not more than one contract per file

[2018-05-09 19:52] gnidan commented on #72
@makoto can you show me `contracts` that you've passed in? I'm starting to suspect `files` isn't as optional as I thought.

I'm glad to hear that you're interested in this! I think you might be the first person to try this stuff out, so thank you for your patience as the first guinea pig :)

[2018-05-10 03:21] andr11111 commented on #64
@gnidan I tried this multiple times. What's interesting is that debugging for some method calls work fine, while don't work for that specific method. I'll investigate more.

[2018-05-10 07:38] gnidan commented on #64
OK I'll reopen this. Let me know what you find!

[2018-05-10 21:39] makoto commented on #72
@gnidan `contracts` is just `[MetaCoin]`

[code]

[2018-05-10 21:59] gnidan commented on #72
@makoto sweet, that's very helpful.

Try passing this as the `files` argument (making sure to fix the path string):
[code]

The reason for this is that the `files` array is used for interpreting `solc`'s output. Here's what I mean, looking at one of the source maps:
[code]

The source-map is a list of `;`-separated {2,4}-tuples, values `byte:length:file:jump`. The debugger needs the information to

[2018-05-11 22:40] makoto commented on #72
Ummm, I am getting this.

[code]

[2018-05-11 23:10] gnidan commented on #72
@makoto hm, try `null` instead of `undefined`. Or maybe empty strings. Or maybe mess with the indexes, in case there's an off-by-one? I'll sort this out on Monday or sooner if I get the chance.

[2018-05-15 08:35] makoto commented on #72
Ok, I will wait until you sort it out...

[2018-05-16 09:27] cryptomental commented on #64
Hi I encounter the same as @andrei-anisimov , Truffle 4.1.8 , executed `truffle migrate --reset --compile-all` and then:

[code]

[2018-05-16 19:29] gnidan commented on #72
@makoto sorry to keep you waiting, I will try to get to this this week.

[2018-05-17 22:03] dmdque opened #73 "Instruction pointer jumps seemingly arbitrarily"
When stepping through code line by line, sometimes the instructor pointer ends up pointing to some seemingly arbitrary Solidity code. (It's arbitrary because it's code that has nothing to do with the executing code.)

I think this usually happens after a function returns, but I have no great way of verifying this.

[2018-05-18 16:29] gnidan commented on #73
Can you post more information please? At least `truffle version`, but if you can include the output log showing this behavior (and/or source), that'd be helpful. Thanks!

[2018-05-18 17:47] dmdque commented on #73
Truffle version is 4.1.7. Unfortunately I don't have source I can post but if I come across this again I'll add to this thread.

[2018-05-18 18:34] gnidan commented on #73
Try v4.1.8, and do `truffle migrate --reset --compile-all`

[2018-05-19 22:19] vladyslav2 opened #74 "RangeError: Invalid typed array length error for any variable after somepoint"
Arch Linux \r (\l)

Truffle v4.1.8 (core: 4.1.8)
Solidity v0.4.23 (solc-js)

Working with timestamp and arrays (basically trying to save timestamps for they addresses)
After any arrays calls debug stops showing any variable information with an error:

[code]

Even for uint variable (its been working few lines before)
[code]

Tried to do migrate --reset, truffle migrate --reset --compile-all did no

[2018-05-19 22:56] vladyslav2 commented on #74
My problem somehow connected with mappings `mapping (address => uint256)` and `block.timestamp`
combination of this breaks variables output for the whole contract.
But output for other contracts will still work.

[2018-05-19 23:40] vladyslav2 commented on #74
Solved an issue by creating a function:

[code]

and using it instead of direct `block.timestamp`

Solved the issue

[2018-05-22 15:49] gnidan commented on #74
Ah, @vladyslav2, since you have a workaround, I'm closing this as duplicate of #30

Thanks for bringing this to my attention!

[2018-05-22 15:49] #74 closed, assigned to nobody

[2018-05-24 00:45] rhlsthrm commented on #64
Getting the same error: `TypeError: Cannot read property 'context' of null` when trying to debug.

[2018-05-24 10:33] etnann commented on #64
Hi, I'm getting this `TypeError: Cannot read property 'context' of null` error too while I'm trying to instantiate a new Debugger object.
Here there is a snippet of my code ( which is similar to [this](https://github.com/trufflesuite/truffle-core/blob/develop/lib/commands/debug.js) ).

[code]

I have no problem if I run the debbuger from command line (`truffle debug <txHash>`).

`Truffle v4.1.8 (c

[2018-05-24 16:10] gnidan commented on #64
@etnann are you using Web3 1.0?

Could you show me what `files` looks like?

[2018-05-25 07:30] etnann commented on #64
@gnidan Yes, the latest available on npm (`1.0.0-beta.34`).

I attached a debugger, the variable `files` is a an array of strings. Contains two strings

[code]

Here you can see some of the variables before the call `Debugger.forTx`
![image](https://user-images.githubusercontent.com/38030861/40531584-0fe9f8f8-5ffd-11e8-8773-2107411132d3.png)

The variable `contracts` is generated calling the `comp

[2018-05-25 12:44] etnann commented on #64
I've re-written my code so that `contracts` list is generated from the artifacts in the `build` directory instead of re-compiling again from the solidity source. Then, I've also omitted the field `files`. Now it is working and I'm able to instantiate from the Debugger class. :confused:

[2018-05-25 12:54] nukec commented on #51
same issues here with v4.1.10

[2018-05-25 13:22] svantetobias commented on #51
I've got the same issue with Truffle v4.1.11 (core: 4.1.11) Solidity v0.4.24 (solc-js)

[2018-06-04 20:42] cmcewen opened #75 "TypeError: Cannot read property 'context' of null"
We are trying to debug a contract and receive this error every time we try to debug a transaction involving that contract, using both `truffle debug` and running a script that imports the debugger. The contracts were migrated with `truffle migrate --reset --compile-all`

[code]

[2018-06-05 17:18] ghost commented on #51
I have the same issue with  Truffle v4.1.11 (core: 4.1.11)
Solidity v0.4.24 (solc-js)

[2018-06-05 21:29] roschler opened #76 "How can you trace a method that does not change state?"
When working in the Truffle console using the debug command, how do you trace a contract method that does not change state?  Such methods don't generate a transaction ID, so there's nothing to feed the `debug` command.

[2018-06-05 21:34] roschler opened #77 "Inspect contract public storage variables?"
When debugging in Truffle console using the `debug` command, I know you can use the "v" command to view the memory variables.  However, nothing I've tried works when I want to look at the public storage variables.  Currently, I'm trying in vain to inspect the contract `owner` storage variable that belongs to the Open Zeppelin _Ownable_ contract my smart contract inherits from.  I want to look at i

[2018-06-06 00:38] gnidan commented on #77
@roschler this is due to a limitation in the way `debug_traceTransaction` works. Since storage addresses are difficult to enumerate (think `mapping`), the debugger only tracks storage variables once they are referenced via a load or store operation.

This is something that could be implemented, by requiring the debugger to make individual `eth_getStorageAt` calls for specific variables. I've had i

[2018-06-06 00:51] gnidan commented on #76
There's an issue for this already: #16. The reason this limitation exists is because there's only `debug_traceTransaction` in the RPC, and no `debug_traceCall`. There's a potential hack - which is to send the call as a transaction via web3 first, but I haven't pursued any real investigation as to what's involved / what's the risk of it not working well

[2018-06-06 00:51] gnidan commented on #76
(Closing as duplicate)

[2018-06-06 00:51] #76 closed, assigned to nobody

[2018-06-06 20:24] roschler commented on #75
@cgewecke and @gnidan

Hello Christopher and Nicholas,

##TL;DR

I believe this problem occurs when there is a mismatch between a contract address and the ABI the Truffle console tries to apply during a method call against a deployed contract.  My feeling is that it's going to boil down to providing a better error message when this occurs, assuming you can detect such a condition like the mismatch

[2018-06-08 04:17] roschler commented on #77
@gnidan Would it be a dumb idea due to make a view only method in the contract that if called, made a "dummy" access to every contract property just to trigger that variable tracking?  During a a local (Ganache) debug session, I could add a call to that function to whatever method I discover is throwing a revert error just to get that variable visibility.  What do you think?

[2018-06-08 16:16] Astrovicis commented on #51
I'm also having this issue.
Truffle v4.1.11 (core: 4.1.11)
Solidity v0.4.24 (solc-js)

[code]

[2018-06-10 20:25] mbican commented on #72
I was getting this error when one of the *.sol files has been compiled twice because it has been accessible from two different paths because I have had a symlink in my contracts/ directory

[2018-06-10 20:27] mbican commented on #51
I was getting this error when one of the *.sol files has been compiled twice because it has been accessible from two different paths because I have had a symlink in my contracts/ directory

[2018-06-12 06:56] svantetobias commented on #51
@gnidan People are clearly still having this issue. Reopen? :)

[2018-06-20 16:13] sameepsi commented on #51
Any fix for this? This is a bloicker now!!!!

[2018-06-20 22:21] HarryR commented on #39
I'm still encountering this bug, bug it goes deeper than as described in this ticket and I may have found a better description of the underlying problem with Ganache.

The problem is that `getReceipt` is returning `null` even though the transaction exists... The `Cannot read property 'context' of null`.

But the weird problem is that the transaction is submitted via a jsonrpc client, which waits f

[2018-06-26 07:53] briansoule commented on #51
Still getting this on 4.1.12

[2018-07-11 15:17] Padraic-O-Mhuiris commented on #51
Any update?? Issue persisting on truffle4.1.13

[2018-07-16 19:26] collincusce commented on #73
I have this issue with Truffle v4.1.13 using Solidity v0.4.24 (solc-js) and debugging from transaction on Ganache (cli) v6.1.3 (ganache-core: 2.1.2). I get to a specific "require" call on line 33 and it jumps arbitrarily to line 109. Javascript VM on remix.ethereum.org works. Truffe+Ganache throws VM exceptions. Planning on testing on private network next. The debugger definitely jumps at  random

[2018-07-17 17:07] LoomiDigital opened #78 "Truffle debug : TypeError: Cannot read property 'children' of undefined"
I'm having an issue that whenever I watch a variable I receive the error message **Truffle debug : TypeError: Cannot read property 'children' of undefined**

As soon as I stop watching the variable the debuggers steps through all the commands with no error message.

I also get the same error if I press "V" to inspect all available variables.

I suspect this is to do with the fact that some of the

[2018-07-19 09:25] Masa331 commented on #51
i'v run into the same issue with Truffle v4.1.13 (core: 4.1.13), Solidity v0.4.24 (solc-js), and Ganache 1.1.0.

I'v tracked it down to wrong import path in one of my contracts. In one of them i had `import "contracts/FirstContract.sol";` instead of `import "./FirstContract.sol";`. If i use the second variant then `truffle debug <tx hash>` works. Note that both` truffle compile` and `truffle conso

[2018-07-21 16:07] froller commented on #75
I noticed that removing `someAddress.transfer(amount)` makes debugger work w/o context null error

[2018-07-24 19:54] sheluchin commented on #51
I'm getting the same issue. @Masa331's workaround worked when debugging the migration transactions but not for any subsequent non-migration transactions.

[code]

[code]

[2018-07-27 05:10] kabriel commented on #51
same issue in 4.1.13

[code]

[2018-07-27 16:50] gnidan commented on #51
Can anyone who is getting this issue, try installing `truffle@next` and see if the issue persists? Thanks!

[2018-07-30 10:22] sameepsi commented on #51
@gnidan I am getting same error even with truffle@next

`Cannot destructure property `sourcePath` of 'undefined' or 'null'.`

[2018-07-30 12:43] Masa331 commented on #51
@gnidan with `truffle@next` the error with `truffle debug <tx_hash>` is still the same in trhe repo i created. However second migration now fails.

And on my other project `truffle@next` breaks tests. Whenever i run `truffle test` it outputs:
[code]

[2018-07-30 15:30] gnidan commented on #51
Thanks for investigating the `next` branch. @Masa331 Those breaking changes are expected; `truffle@next` is Truffle v5, which contains the upgrade to Web3.js 1.0. I will look into this further when I return from traveling.

[2018-07-30 16:05] iamwilhelm commented on #51
@gnidan Also tried the next branch. `truffle debug` also doesn't work for me.

[code]

[2018-07-31 22:44] iamwilhelm commented on #51
@gnidan Figured out this can be an issue when using truffle-debug as a lib, because `truffle compile`'s compiled object json objects use `bytecode` and `deployedBytecode` as keys, where as `truffle debug` expects `binary` and `deployedBinary`.

So if you use it, you need to:
[code]
The command line version of `truffle debug` handles this for you.

[2018-08-05 13:32] ghost commented on #51
This is an extremely annoying issue which literally wastes the entire use of truffle debug. I have tried fixing this by making sure that none of my files use the same contract name but even this won't fix it. This wastes so much of time and should be a priority issue!

[2018-08-08 18:18] vongohren commented on #75
@roschler is the bounty going anywhere? The bug is still there

[2018-08-08 21:58] vongohren commented on #75
@roschler @gnidan for information, the new develope version gets past that context for null problem. But I experience another problem, working on this contract https://github.com/uport-project/ethr-did-registry/blob/develop/contracts/EthereumDIDRegistry.sol with method `function changeOwnerSigned`
That is that I can't get past ecrecover in the debugger. But i get past `bytes32 hash = keccak256(byt

[2018-08-13 17:26] gnidan commented on #75
Just released Truffle v4.1.14. Can people with this issue see if that version fixes it? Thanks!

[code]

[2018-08-14 13:12] vongohren commented on #75
I seem to be back at start with newest development branch. So now I cant event get to the ecrecover statment, as I did with last version. Other code works, but debugging transactions that iterates over ecrecover, gets this thing I initially posted.

PS: for more information around this, there was a discussion in gitter truffle-dev

[2018-08-16 22:34] sfncook commented on #51
I noticed that when I ran a function-call successfully the output from truffle console listed a tx hash that is different from what is displayed in Ganache.  If I try to debug the tx-hash from Ganache I get the  "uncaught at session.saga" error and if I debug the tx-hash that is output in truffle console then the debugger works fine.  This is hardly a problem if the function-call succeeds, but whe

[2018-08-18 19:50] sfncook commented on #77
@gnidan Seems like an easy first step would be to simply update the command list produced by the debugger to either not include those commands that aren't implemented or add a note that indicates that they aren't implemented yet.  False advertising, bud.  (I assume from the way that you respond to most of these issues with the debugger that you have some "ownership" of the product.  My apologies i

[2018-08-18 20:28] gnidan commented on #77
@sfncook These commands _are_ implemented, albeit sometimes minimally so. I think they're still useful and saying they're not implemented would mean that people don't use them for what they are useful for.

I apologize for your less than great experience with the debugger. I'm well-aware of the work that's still needed with the product and hope to be able to prioritize the various bug fixes and en

[2018-08-24 15:04] svechinsky commented on #75
Original error seems to exist with truffle 4.1.14

[2018-09-11 23:04] gnidan commented on #32
Moving to trufflesuite/truffle ^

[2018-09-11 23:04] #32 closed

[2018-09-19 20:28] chris-gilbert commented on #75
Has there been any progress on this? Any workaround for debugging through ZeppelinOS proxies?

[2018-09-19 22:10] gnidan commented on #75
@chris-gilbert Truffle has just onboarded a new full-time member of the team (@hjaltman) to work on the debugger. Planning to address some of these long-standing bugs in the coming weeks.

[2018-09-20 12:32] chris-gilbert commented on #75
Great news @gnidan. @hjaltman Let me know if I can help in any way, either through setting up reproducible steps or testing out builds.

[2018-09-25 20:32] PlamenHristov commented on #51
Anyone who is desperate and feels like they want to shoot themselves in the face, changing the definition of **recordSources** in **cli.bundled.js** will solve your problem. Should be around line 117751

[code]

[2018-09-25 21:09] gnidan commented on #51
@PlamenHristov thanks for that! Could you open that as a pull request, updating this code here: https://github.com/trufflesuite/truffle/blob/develop/packages/truffle-debugger/lib/session/sagas/index.js#L109-L113

Please use camel case for `sourceData` instead of `source_data`, but I'll happily merge that and get it released.

cc @hjaltman

[2018-09-29 12:20] wanliqun commented on #51
When will this fix be released?

[2018-10-03 15:22] vongohren commented on #75
@gnidan @hjaltman Im back to debugging the same contract that I used in the reference issue https://github.com/uport-project/ethr-did-registry/issues/9

And now it is a new interesting error but, I still cant get pas `ecrecover`
See attached picture.
I was thinking that the fix that was discussed, was to kinda just skip ecrecover, but atleast continue down the road.

What are the thoughts on this?

[2018-10-18 08:34] mesqueeb commented on #51
I am having this issue.

[2018-10-19 05:42] mesqueeb commented on #51
I think no one made a PR. Can someone help us out?

[2018-10-25 17:28] #51 closed

[2018-10-25 21:05] bugduino opened #79 "Web3ProviderEngine does not support synchronous requests."
Hi I was experiencing an issue related to this one https://github.com/trufflesuite/truffle-debugger/issues/51

and now after updating to the latest version of `next` channel (which should have this https://github.com/trufflesuite/truffle/pull/1371 merged)  I'm now getting the following error when trying to debug a transaction

[code]

This is my truffle-config.js file
[code]

[code]

[code]

any i

[2018-11-08 17:27] roschler opened #80 "Feature request : step over funtion modifiers"
While stepping through an Ethereum transaction with the Truffle debugger, currently there is no way to step over a Solidity function modifier.  The `step out` or `o` command, still steps one line at a time through the function modifier.  It would be very helpful if the `step out` command stepped completely over the function modifier.

An added feature would be to have a `step into function body` c

[2018-11-21 08:30] spm32 commented on #75
Hey @gnidan any thoughts on the above?

[2019-01-21 22:22] kuhnchris commented on #75
Hello @gnidan @roschler !
We saw that there isn't any progress on this issue for a couple of months now - is there anything we can help you here in terms of the bounty side of things?

Thanks!
Chris & the Gitcoin Team

[2019-02-21 17:14] lazaridiscom commented on #75
@gnidan , @kuhnchris , you should remove the current worker from the bounty, so the issues lands back in the "open".

[2020-01-22 22:51] #78 closed, assigned to nobody

[2020-06-02 14:58] CherryDT commented on #79
Same problem here!

[code]